@import "./variables";


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid $darkergreen;
}

.ng-invalid:not(form) {
  border-left: 5px solid $danger;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid $darkergreen;
}

.modal-content {
    border: 1px solid #6644ee!important;
    border-radius: .3rem;
}


.p-0 {
    padding: 0px;
}

.p-top-50 {
    padding-top: 50px;
}


.m-0 {
    margin: 0px;
}


.m-left-20 {
    margin-left: 20;
}

.m-right-20 {
    margin-right: 20px;
}

.m-bottom-40 {
    margin-bottom: 40px;
}

.m-top-50 {
    margin-top: 50px;
}


.pointer {
    &:hover {
        cursor: pointer;
    }
}


.alertify {
    z-index: 999!important;
}